.App {
  text-align: center;
}
.MuiDialog-paperWidthSm{
  max-width: 40vw !important;
  width: 40vw;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #F13C6E !important;
}
.MuiInputBase-fullWidth {
  width: 100%;
  height: 3vh;
}
.MuiDialogContent-root {
  padding: 8px 3vw !important;
}
#card{
  width: 20vw;
}